body {
    background-color: #C6D5FF;
}

header {
    position: relative;
    box-shadow: 0 2px 4px #707070;
    padding: 10px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    height: 65px;
}

nav {
    display: flex;
    background-color: #EBEBEB;
    width: 450px;
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}

h2 {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 25px;
}

p strong {
    font-weight: bold;
}

p a {
    color: #000000;
    text-decoration: underline;
}

.logo {
    width: 63.77px;
    height: 90px;
    float: left;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: -10px;
    margin-left: 15px;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

li {
    padding-left: 20px;
    margin-right: 50px;
    display: inline-block;
}

a {
    text-decoration: none;
}

a.red:link {
    color: #A00000;
}
a.red:visited {
    color: #A00000;
}
a.red:hover {
    color: #A00000;
}

a.black:link {
    color: #000000;
}
a.black:visited 
{
    color: #000000;
}
a.black:hover {
    color: #000000;
}

.container {
    padding: 10px;
    margin-bottom: -110px;
    margin-top: 120px;
}
  
.column {
    background-color:#EBEBEB;
    float: left;
    width: 400px;
    height: 120px;
    margin-top: -110px;
    padding: 20px;
    margin-left: 20px;
}
  
.columnTwo {
    float: right;
    padding: 20px;
    margin-top: -130px;
}

iframe {
    width: 887px;
    height: 600px;
}

footer {
    background-color: #7F8094;
    margin-top: 650px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0x;
    height: 52px;
}

.icons {
    width: 61.5px;
    height: 40px;
    display: flex;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}
