body {
	background-color: #C6D5FF;
}

nav {
	display: flex;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    float: right;
}

li {
    margin-left: 60px;
    align-items: center;
    display: inline-block;
}

a {
    text-decoration: none;
}

a.red:link {
	color: #A00000;
}
a.red:visited {
	color: #A00000;
}
a.red:hover {
	color: #A00000;
}

a.black:link {
	color: #000000;
}
a.black:visited 
{
	color: #000000;
}
a.black:hover {
	color: #000000;
}

header {
	position: relative;
}

p {
	font-size: 15px;
}

h1 {
	color:#000000;
	font-size: 30px;
}

h2 {
	color: #4D4F5C;
	font-family: 'Roboto', sans-serif;
}

footer {
	background-color: #7F8094;
}